.vscode/settings.json
.ipynb_checkpoints/
__pycache__
__temp__.mp4
*.obj
wandb
.venv
notebooks/model.p
.ipynb_checkpoints
*.egg-info
*.png
*.pdf
model.p
lightning_logs/
*.p
*.mp4
build/
*.ckpt
results/